<section class="pt-3">
    <div class="container">

      <div class="row">
        <div class="col-12">
          <!-- Heading -->
          <h2 class="mb-0">
            Schedule
          </h2>
          <!-- Text -->
          <p class="mb-5 text-muted">
            {{ event.talks|length}} talks in {{ event.tracks.keys()|length}} tracks
          </p>
        </div>
      </div> <!-- / .row -->

      <div class="row">

        <!-- Table -->
        <div class="table-responsive">
          <table class="table table-align-middle">
            <tbody>
              <tr>
                <td>
                  <p class="mb-1">
                    {% if event.premiere_url %}
                    <a target="_blank" href="https://www.youtube.com/watch?v={{ event.premiere_url }}">
                      Premiere
                    </a>
                    {% else %}
                      Premiere
                    {% endif %}
                  </p>
                  <p class="fs-sm text-muted mb-0">
                    Start here - learn about everything happening at the event
                  </p>
                </td>

                <td>
                  <p class="fs-sm mb-0">
                    <span class="scheduletime" data-time-offset-minutes=0></span>
                  </p>
                </td>

                <td>
                  <p class="fs-sm mb-0">
                    <a target="_blank" href="https://www.youtube.com/watch?v={{ event.premiere_url }}">
                      watch
                    </a>
                  </p>
                </td>
              </tr>

              {% for talk in event.talks_featured %}
              <tr>
                <td>
                  <p class="mb-1">
                    <a href="{{ prefix | default('') }}{{ talk.short_url }}">
                      Keynote: {{ talk.Title }}
                    </a>
                  </p>
                  <p class="fs-sm text-muted mb-0">
                    {% if talk.LinkedIn1 %}
                    <a href="{{ talk.LinkedIn1 }}" target="_blank">
                      {{ talk.Name1 }}
                    </a>
                    {% else %}
                      {{ talk.Name1 }} 
                    {% endif %}
                    {{ talk.JobTitle1 }} at {{ talk.Company1 }}
                  </p>
                </td>

                <td>
                  <p class="fs-sm mb-0">
                    <span class="scheduletime" data-time-offset-minutes={{ talk.offset }}>{{ talk.start_time }}</span>
                  </p>
                </td>

                <td>
                  <p class="fs-sm mb-0">
                    <a target="_blank" href="{{ talk.YouTube }}">
                      watch
                    </a>
                  </p>
                </td>
              </tr>
            {% endfor %}
              
            {% for talk in event.talks_panel %}
            <tr>
              <td>
                <p class="mb-1">
                  <a href="{{ prefix | default('') }}{{ talk.short_url }}">
                    Panel: {{ talk.Title }}
                  </a>
                </p>
              </td>

              <td>
                <p class="fs-sm mb-0">
                  <span class="scheduletime" data-time-offset-minutes={{ talk.offset }}>{{ talk.start_time }}</span>
                </p>
              </td>

              <td>
                <p class="fs-sm mb-0">
                  <a target="_blank" href="{{ talk.YouTube }}">
                    watch
                  </a>
                </p>
              </td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
    </div> <!-- / .row -->

    <div class="row">
    <!-- Nav tabs -->
    <ul class="schedule-nav nav nav-tabs" id="myTab" role="tablist">
      {% for track in event.tracks.keys() %}
            <li class="nav-item me-2">
              <a class="nav-link {% if loop.index==1 %}active{% endif %}" id="tab-{{ loop.index }}" data-bs-toggle="tab" href="#tab-{{ loop.index }}-content" role="tab" aria-controls="tab-{{ loop.index }}-content"
                aria-selected={% if loop.index==1 %}"true"{% else %}"false"{% endif %}
              >
                <span class="heading">{{ track }}</span>
              </a>
            </li>
      {% endfor %}
          </ul>
          
          <!-- Tab panes -->
          <div class="schedule-tab-content tab-content">
      
      {% for track in event.tracks.keys() %}
            <div class="tab-pane {% if loop.index==1 %}active{% endif %}" id="tab-{{ loop.index }}-content" role="tabpanel" aria-labelledby="tab-{{ loop.index }}">
      
              <table class="table table-align-middle">
                <tbody>

      {% for talk in event.tracks[track] %}
                  <tr>
                    <td>
                      <p class="mb-1">
                        <a href="{{ prefix | default('') }}{{ talk.short_url }}">
                          {{ talk.Title }}
                        </a>
                      </p>
                      <p class="fs-sm text-muted mb-0">
                        {% if talk.LinkedIn1 %}
                        <a href="{{ talk.LinkedIn1 }}" target="_blank">
                          {{ talk.Name1 }}
                        </a>
                        {% else %}
                          {{ talk.Name1 }} 
                        {% endif %}
                        {{ talk.JobTitle1 }} at {{ talk.Company1 }}
                      </p>
                    </td>

                    <td>
                      <p class="fs-sm mb-0">
                        <span class="scheduletime" data-time-offset-minutes={{ talk.offset }}>{{ talk.start_time }}</span>
                      </p>
                    </td>

                    <td>
                      <p class="fs-sm mb-0">
                        {% if (secret_mode is defined or event.reveal_videos) %}
                        <a target="_blank" href="{{ talk.YouTube }}">
                          watch
                        </a>
                        {% else %}
                        <a href="#register" class="btn btn-primary btn-xs shadow lift">
                          subscribe to watch
                        </a>
                        {% endif %}
                      </p>
                    </td>
                  </tr>
      {% endfor %}

                </tbody>
              </table>
      
            </div><!--//tab-{{ loop.index }}-content-->
      
      {% endfor %}
          </div><!--//schedule-tab-content-->


          <div class="row">
            <div class="col-12">
              <!-- Heading -->
              <h2 class="mb-0">
                Hallway track
              </h2>
              <!-- Text -->
              <p class="mb-5 text-muted">
                Attendees, speakers & organisers are all invited to a video chat. Come to meet others, ask questions and hang out between:
                <span class="scheduletime" data-time-offset-minutes=0>{{ event.talks_start }}</span>
                and 
                <span class="scheduletime" data-time-offset-minutes={{ event.talks_end_offset }}>{{ event.talks_end }}</span>.
              </p>
              <p class="mb-5 text-muted">
                {% if (secret_mode is defined) %}
                <a target="_blank" href="{{ event.hallway_url }}" class="btn btn-success btn-sm shadow lift">
                  join the hallway track
                </a>
                {% else %}
                <a href="#register" class="btn btn-success btn-sm shadow lift">
                  subscribe to join
                </a>
                {% endif %}
              </p>
            </div>
          </div> <!-- / .row -->

          <script>
            function updateTimestamps() {
              const local_timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
              var elem = document.getElementById("scheduletimezone")
              if (elem){
                elem.innerHTML =  " (" + local_timezone + ")";
              }

              var x, i;
              x = document.querySelectorAll(".scheduletime");
              for (i = 0; i < x.length; i++) {
                const event_date = new Date("{{ event.date }}T17:00:00.000+00:00");
                event_date.setMinutes(event_date.getMinutes() + x[i].dataset.timeOffsetMinutes)
                x[i].innerHTML = event_date.toLocaleTimeString() + " (" + local_timezone + ")";
              }
            }
            updateTimestamps();
          </script>

      </div>
    </div> <!-- / .container -->
  </section>