    <section class="pt-3">
      <div class="container">

        <div class="row">
          <div class="col-12">
            <!-- Heading -->
            <h2 class="mb-0">
              Schedule
            </h2>
            <!-- Text -->
            <p class="mb-5 text-muted">
              
            </p>
          </div>
        </div> <!-- / .row -->

        <div class="row">

          {% set accumulated_offset = namespace(value=0) -%}

          <!-- Table -->
          <div class="table-responsive mb-7 mb-md-9">
            <table class="table table-align-middle">
              <thead>
                <tr>
                  <th>
                    <span class="h6 text-uppercase fw-bold">
                      Event
                    </span>
                  </th>
                  <th>
                    <span class="h6 text-uppercase fw-bold">
                      Time <span id="scheduletimezone"></span>
                    </span>
                  </th>
                  <th>
                    <span class="h6 text-uppercase fw-bold">
                      Location
                    </span>
                  </th>                  
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <p class="mb-1">
                      {% if event.premiere_url %}
                      <a target="_blank" href="https://www.youtube.com/watch?v={{ event.premiere_url }}">
                        Premiere
                      </a>
                      {% else %}
                        Premiere
                      {% endif %}
                    </p>
                    <p class="fs-sm text-muted mb-0">
                      Show introducing all talks and sponsors
                    </p>
                  </td>

                  <td>
                    <p class="fs-sm mb-0">
                      <span class="scheduletime" data-time-offset-minutes={{ accumulated_offset.value }}></span>
                    </p>
                  </td>

                  <td>
                    <p class="fs-sm mb-0">
                      <a target="_blank" href="https://www.youtube.com/watch?v={{ event.premiere_url }}">
                        Livestream
                      </a>
                    </p>
                  </td>
                </tr>

                {% set accumulated_offset.value = accumulated_offset.value + (event.premiere_duration | default(20)) -%}
                

                {% for talk in event.talks_featured %}
                <tr>
                  <td>
                    <p class="mb-1">
                      <a href="{{ prefix | default('') }}{{ talk.short_url }}">
                        Keynote: {{ talk.Title }}
                      </a>
                    </p>
                    <p class="fs-sm text-muted mb-0">
                      {% if talk.LinkedIn1 %}
                      <a href="{{ talk.LinkedIn1 }}" target="_blank">
                        {{ talk.Name1 }}
                      </a>
                      {% else %}
                        {{ talk.Name1 }} 
                      {% endif %}
                      {{ talk.JobTitle1 }} at {{ talk.Company1 }}
                    </p>
                  </td>

                  <td>
                    <p class="fs-sm mb-0">
                      <span class="scheduletime" data-time-offset-minutes={{ accumulated_offset.value }}></span>
                    </p>
                  </td>

                  <td>
                    <p class="fs-sm mb-0">
                      <a target="_blank" href="https://www.youtube.com/watch?v={{ event.premiere_url }}">
                        Livestream
                      </a>
                    </p>
                  </td>
                </tr>
              {% set accumulated_offset.value = accumulated_offset.value + (talk.Duration | int | default(25)) -%}
              {% endfor %}

              <tr>
                <td>
                  <p class="mb-1">
                    All {{ event.talks_featured | length + event.talks | length }} talks available on demand
                  </p>
                  <p class="fs-sm text-muted mb-0">
                    Pick and choose what order to watch things in
                  </p>
                </td>

                <td>
                  <p class="fs-sm mb-0">
                    <span class="scheduletime" data-time-offset-minutes={{ accumulated_offset.value }}></span>
                  </p>
                </td>

                <td>
                  <a href="#register" class="btn btn-primary btn-sm shadow lift">
                    Subscribe
                  </a>
                </td>

              </tr>

              </tbody>
            </table>

            <script>
              function updateTimestamps() {
                const local_timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
                var elem = document.getElementById("scheduletimezone")
                if (elem){
                  elem.innerHTML =  " (" + local_timezone + ")";
                }

                var x, i;
                x = document.querySelectorAll(".scheduletime");
                for (i = 0; i < x.length; i++) {
                  const event_date = new Date("{{ event.date }}T17:00:00.000+00:00");
                  event_date.setMinutes(event_date.getMinutes() + x[i].dataset.timeOffsetMinutes)
                  x[i].innerHTML = event_date.toLocaleTimeString() + " (" + local_timezone + ")";
                }
              }
              updateTimestamps();
            </script>

        </div>
      </div> <!-- / .container -->
    </section>