            <!-- Card -->
            <div class="card mb-6 shadow-light-lg lift lift-lg">
                <!-- Image -->
                <a class="card-img-top" href="{{ prefix | default('') }}{{ talk.short_url }}">
                  <!-- Image -->
                  <img src="./assets/headshots/{{ talk.Picture }}" alt="..." class="card-img-top">
                  <!-- Shape -->
                  <div class="position-relative">
                    <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
                      <svg viewBox="0 0 2880 480" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2160 0C1440 240 720 240 720 240H0v240h2880V0h-720z" fill="currentColor"/></svg>                  </div>
                  </div>
                </a>
                <!-- Body -->
                <a class="card-body" href="{{ prefix | default('') }}{{ talk.short_url }}">
                  <!-- Heading -->
                  <h3>
                    {{ talk.Title }}
                  </h3>
                  <!-- Text -->
                  {% if show_abstract %}
                  <p class="mb-0 text-muted">
                    {{ talk.Abstract_m }}
                  </p>
                  {% endif %}
                </a>
                <!-- Meta -->
                <div class="card-meta mt-auto">
                  <!-- Divider -->
                  <hr class="card-meta-divider">
                  <!-- Author -->
                  <h6 class="text-uppercase text-muted me-2 mb-0">

                    {% if talk.LinkedIn1 %}
                    <a href="{{ talk.LinkedIn1 }}" target="_blank">
                      {{ talk.Name1 }}
                    </a>
                    {% elif talk.Twitter1 %}
                    <a href="https://twitter.com/{{ talk.Twitter1 }}" target="_blank">
                      {{ talk.Name1 }}
                    </a>
                    {% else %}
                      {{ talk.Name1 }}
                    {% endif %}

                  </h6>
                  <!-- Date -->
                  <p class="h6 text-uppercase text-muted mb-0 ms-auto">
                    {{ talk.Company1 }}
                  </p>
                </div>
  
                {% if talk.Name2 %}
                <div class="card-meta mt-auto">
                  <!-- Author -->
                  <h6 class="text-uppercase text-muted me-2 mb-0">

                    {% if talk.LinkedIn2 %}
                    <a href="{{ talk.LinkedIn2 }}" target="_blank">
                      {{ talk.Name2 }}
                    </a>
                    {% elif talk.Twitter2 %}
                    <a href="https://twitter.com/{{ talk.Twitter2 }}" target="_blank">
                      {{ talk.Name2 }}
                    </a>
                    {% else %}
                      {{ talk.Name2 }}
                    {% endif %}

                  </h6>
                  <!-- Date -->
                  <p class="h6 text-uppercase text-muted mb-0 ms-auto">
                    {{ talk.Company2 }}
                  </p>
                </div>
                {% endif %}
              </div>