{% extends "base.html" %}

{% block content %}
    <!-- WELCOME -->
    <section class="py-5 border-bottom bg-dark">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-10 text-center">

            <h2 class="display-3 text-white">
              About the team
            </h2>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- ABOUT -->
    <section class="py-5" id="about">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-8 text-justified">

            <h2>
              We're a small team based in London, UK 🇬🇧
            </h2>

            <p class="">
              We're brothers, <a href="https://www.linkedin.com/in/marek-pawlikowski/" target="_blank">Mark</a>
              and <a href="https://www.linkedin.com/in/mikolajpawlikowski/" target="_blank">Miko Pawlikowski</a>.
            </p>
            <p class="">
              Mark has a background in film & events, and Miko is a software engineer, SRE and a published author.
            </p>

            <h2 class="mb-5">
              It all started in 2019
            </h2>

            <p class="">
              Miko was a serial speaker at conferences, and Mark loved organising communities.
              So on one fateful day in mid 2019, we decided to join forces and build something new.
            </p>
            <p class="">
              Our first conference was all about <a href="https://www.conf42.com/ce2020">Chaos Engineering</a>, and happened in London, in January 2020.
              We gathered practitioners of this exciting new field, rented out a comedy club, 
              and started what today is Conf42.
            </p>
            <p class="">
              Mark relocated to the UK (🇬🇧🎡🏰🌂🍺), to work full time on the project.
            </p>

            <h2>
              And then Covid happened 🦠
            </h2>

            <p class="">
              The world closed down, we had to cancel all plans for future events, and it looked like our 
              startup died before it learned how to walk.
            </p>
            <p class="">
              We were devastated.
            </p>

            <h2>
              So we went all-in on online events 🌎
            </h2>

            <p class="">
              In 2021, thanks to the new online formula, we were able to organise 9 events, and reach thousands of people.
              We quickly realised, that this approach had some serious perks: we could reach people who normally would not be 
              able to travel to in-person events. We could invite many more first-time speakers, and reach out to the 
              underrepresented groups more easily. Our community cristalised around the idea of learning and sharing.
            </p>

            <p class="">
              Today, we've published over 1000 talks from people around the world, that together generated 
              over a quarter million views, and nearly a million minutes watched. 
              Our <a href="./hall-of-fame" >Hall of Fame</a> now features many talks attended by 5k+ people over time.
            </p>

            <p class="">
              And thanks to of our generous <a href="./sponsor">sponsors</a>, we were able to keep the events 
              accessible to everyone at no cost-to the consumer.
              We've been lucky to work with some amazing companies over time, and we feel lucky that they helped us
              to continue on our mission.
            </p>

            <!-- Buttons -->
            <div class="text-center my-3">
              <a href="mailto:mark@conf42.com?subject=Organize an event" class="btn btn-primary shadow lift me-1 mb-3">
                <i class="fe fe-send me-2"></i>
                Drop us a line
              </a>
            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

{% endblock %}
