{% extends "base.html" %}

{% block content %}

    <!-- WELCOME -->
    <section class="py-5 py-md-10" style="background-color: #010023;">

      <!-- Shape -->
      <div class="shape shape-blur-3 svg-shim text-white">
        <svg viewBox="0 0 1738 487" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h1420.92s713.43 457.505 0 485.868C707.502 514.231 0 0 0 0z" fill="url(#paint0_linear)"/><defs><linearGradient id="paint0_linear" x1="0" y1="0" x2="1049.98" y2="912.68" gradientUnits="userSpaceOnUse"><stop stop-color="currentColor" stop-opacity=".075"/><stop offset="1" stop-color="currentColor" stop-opacity="0"/></linearGradient></defs></svg>
      </div>

      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 text-center">

            <!-- Heading -->
            <h1 class="display-2 fw-bold text-white">
              Conference Code of Conduct
            </h1>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- SHAPE -->
    <div class="position-relative">
      <div class="shape shape-bottom shape-fluid-x svg-shim text-light">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
      </div>
    </div>

    <!-- Code of Conduct -->
    <section class="pt-5">
      <div class="container">
        <div class="row">
          <div class="col-12">

            <p>
              All attendees, speakers, sponsors and volunteers at our conference are
              required to agree with the following code of conduct. Organisers will
              enforce this code throughout the event. We expect cooperation from all
              participants to help ensure a safe environment for everybody.
            </p>

            <h2>The Quick Version</h2>

            <p>
              Our conference is dedicated to providing a harassment-free conference
              experience for everyone, regardless of gender, gender identity and
              expression, age, sexual orientation, disability, physical appearance, body
              size, race, ethnicity, religion (or lack thereof), or technology choices.
              We do not tolerate harassment of conference participants in any form.
              Sexual language and imagery is not appropriate for any conference venue,
              including talks, workshops, parties, Twitter and other online media.
              Conference participants violating these rules may be sanctioned or
              expelled from the conference <em>without a refund</em> at the discretion
              of the conference organisers.
            </p>

            <h2>The Less Quick Version</h2>

            <p>
              Harassment includes offensive verbal comments related to gender, gender
              identity and expression, age, sexual orientation, disability, physical
              appearance, body size, race, ethnicity, religion, technology choices,
              sexual images in public spaces, deliberate intimidation, stalking,
              following, harassing photography or recording, sustained disruption of
              talks or other events, inappropriate physical contact, and unwelcome
              sexual attention.
            </p>

            <p>
              Participants asked to stop any harassing behavior are expected to comply
              immediately.
            </p>

            <p>
              Sponsors are also subject to the anti-harassment policy. In particular,
              sponsors should not use sexualised images, activities, or other material.
              Booth staff (including volunteers) should not use sexualised
              clothing/uniforms/costumes, or otherwise create a sexualised environment.
            </p>

            <p>
              If a participant engages in harassing behavior, the conference organisers
              may take any action they deem appropriate, including warning the offender
              or expulsion from the conference with no refund.
            </p>

            <p>
              If you are being harassed, notice that someone else is being harassed, or
              have any other concerns, please contact a member of conference staff
              immediately. Conference staff can be identified as they&#39;ll be wearing
              branded clothing and/or badges.
            </p>

            <p>
              Conference staff will be happy to help participants contact hotel/venue
              security or local law enforcement, provide escorts, or otherwise assist
              those experiencing harassment to feel safe for the duration of the
              conference. We value your attendance.
            </p>

            <p>
              We expect participants to follow these rules at conference and workshop
              venues and conference-related social events.
            </p>

            <p>
              <small>
                <em>
                  Original source and credit:
                  <a href="http://2012.jsconf.us/#/about">
                    http://2012.jsconf.us/#/about
                  </a>
                  &amp;
                  <a href="http://geekfeminism.wikia.com/wiki/Conference_anti-harassment/Policy">
                    The Ada Initiative
                  </a><br />

                  This document was adapted from
                  <a href="https://confcodeofconduct.com/" taget="_blank">
                    confcodeofconduct.com
                  </a>
                  under the
                  <a href="http://creativecommons.org/licenses/by/3.0/deed.en_US">
                    Creative Commons Attribution 3.0 Unported License
                  </a>

                </em>
              </small>
            </p>

          </div>
        </div>
      </div> <!-- / .container -->
    </section>

{% endblock %}
