{% extends "base.html" %}

{% block content %}

    <!-- WELCOME -->
    <section class="py-5 py-md-10 bg-dark">

      <!-- Shape -->
      <div class="shape shape-blur-3 svg-shim text-white">
        <svg viewBox="0 0 1738 487" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h1420.92s713.43 457.505 0 485.868C707.502 514.231 0 0 0 0z" fill="url(#paint0_linear)"/><defs><linearGradient id="paint0_linear" x1="0" y1="0" x2="1049.98" y2="912.68" gradientUnits="userSpaceOnUse"><stop stop-color="currentColor" stop-opacity=".075"/><stop offset="1" stop-color="currentColor" stop-opacity="0"/></linearGradient></defs></svg>
      </div>

      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 text-center" data-aos="fade-up">

            <!-- Heading -->
            <h1 class="display-2 fw-bold text-white">
              Hall of fame
            </h1>


          </div>
        </div> <!-- / .row -->

      </div> <!-- / .container -->
    </section>

    <!-- SHAPE -->
    <div class="position-relative">
      <div class="shape shape-bottom shape-fluid-x svg-shim text-light">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
      </div>
    </div>

    <!-- TOP 500 -->
    <section class="pt-3">
        <div class="container">

          <div class="row">
            <div class="col-12">
              <!-- Heading -->
              <h2 class="mb-0">
                Top 500
              </h2>
              <!-- Text -->
              <p class="mb-5 text-muted">

              </p>
            </div>
          </div> <!-- / .row -->

          <div class="row">

            <!-- Table -->
            <div class="table-responsive mb-7 mb-md-9">
              <table class="table table-align-middle">
                <thead>
                  <tr>
                    <th>
                      <span class="h6 text-uppercase fw-bold">
                        Video
                      </span>
                    </th>
                    <th>
                      <span class="h6 text-uppercase fw-bold">
                        Views
                      </span>
                    </th>
                    <th>
                      <span class="h6 text-uppercase fw-bold">
                        Position
                      </span>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for stat in video_stats %}

                  {% if stat.talk is defined %}
                  <tr>
                    <td>
                      <p class="mb-1">
                        <a href="{{ prefix | default('') }}{{ stat.talk.short_url }}">
                          {{ stat.talk.Title }}
                        </a>
                      </p>
                      <p class="fs-sm text-muted mb-0">
                        <a href="./{{ stat.talk.event.short_url }}">
                            Conf42: {{ stat.talk.event.name }} {{ stat.talk.event.year }}
                        </a>
                        - talk by
                        <a href="{{ stat.talk.LinkedIn1 }}">
                          {{ stat.talk.Name1 }}
                        </a>
                        {% if stat.talk.Name2 %}
                         and <a href="{{ stat.talk.LinkedIn2 }}">
                            {{ stat.talk.Name2 }}
                          </a>
                        {% endif %}
                      </p>
                    </td>

                    <td>
                      <p class="fs-sm mb-0">
                        {{ stat.Views }}
                      </p>
                    </td>

                    <td>
                      <p class="fs-sm mb-0">
                        {{ loop.index }}
                      </p>
                    </td>
                  </tr>
                  {% endif %}


                  {% if stat.event is defined %}
                  <tr>
                    <td>
                      <p class="mb-1">
                        <a href="{{ stat.event.url }}">
                            Premiere - Conf42: {{ stat.event.name }} {{ stat.event.year }}
                        </a>
                      </p>
                    </td>

                    <td>
                      <p class="fs-sm mb-0">
                        {{ stat.Views }}
                      </p>
                    </td>

                    <td>
                      <p class="fs-sm mb-0">
                        {{ loop.index }}
                      </p>
                    </td>
                  </tr>
                  {% endif %}

                  {% endfor %}
                </tbody>
              </table>

          </div>
        </div> <!-- / .container -->
      </section>


{% endblock %}
