{% extends "base.html" %}

{% block content %}

    <!-- WELCOME -->
    <section class="pt-6 pt-md-8 pb-2 bg-dark">

      <!-- Shape -->
      <div class="shape shape-blur-3 svg-shim text-white">
        <svg viewBox="0 0 1738 487" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h1420.92s713.43 457.505 0 485.868C707.502 514.231 0 0 0 0z" fill="url(#paint0_linear)"/><defs><linearGradient id="paint0_linear" x1="0" y1="0" x2="1049.98" y2="912.68" gradientUnits="userSpaceOnUse"><stop stop-color="currentColor" stop-opacity=".075"/><stop offset="1" stop-color="currentColor" stop-opacity="0"/></linearGradient></defs></svg>
      </div>

      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-md-7 col-lg-7 order-md-1" data-aos="fade-up">

            <!-- Heading -->
            <h1 class="display-3 text-center text-md-start text-white">
              Welcome to <span style="color: #92B5F2">Conf42</span>,<br>
              quality tech conferences
            </h1>

            <!-- Text -->
            <p class="lead text-center text-md-start text-muted mb-6 mb-lg-8">
              Join 1000+ awesome people in our community!
            </p>

            <!-- Buttons -->
            <div class="text-center text-md-start">
              <a href="#register" class="btn btn-primary shadow lift me-1">
                <i class="fe fe-user-check me-2"></i>
                Subscribe
              </a>
              <a class="btn btn-secondary lift" data-bigpicture='{"ytSrc": "K_m19O-dUJA"}' href="#">
                <i class="fe fe-eye me-2"></i>
                Watch intro
              </a>
            </div>

          </div>
          <!-- Only show the graphic on medium and bigger -->
          <div class="col-12 col-md-5 col-lg-5 order-md-2 d-none d-md-block">
            <div class="img-fluid">

            <!-- Image -->
              <img src="./assets/conf42/header_art.png" class="img-fluid mb-6 mb-md-0" alt="..." data-aos="zoom-in" data-aos-delay="100">

            </div>
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>


    <!-- SHAPE -->
    <div class="position-relative shape shape-bottom shape-fluid-x svg-shim bg-dark" style="color: #f9fbfd">
      <svg viewBox="0 0 2880 250" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M720 125L2160 0h720v250H0V125h720z" fill="currentColor"></path></svg>        </div>

    <!-- CURRENT EVENTS -->
    <section class="pt-5 bg-gradient-light-white">
      <div class="container">

        <div class="row">
          <div class="col-12">

            <!-- Heading -->
            <h2 class="mb-0">
              Current events
            </h2>

            <!--  -->
            <p class="mb-5 text-muted">

            </p>

          </div>
        </div> <!-- / .row -->

        <div class="row">

          {% for event in [current_event] %}
          <div class="col-12">

            <!-- Card -->
            <div class="card card-row shadow-light-lg mb-6 lift lift-lg">
              <div class="row gx-0">

                <div class="col-12">
                  <!-- Badge -->
                  <span class="badge rounded-pill bg-gray-600 badge-float badge-float-outside">
                    <span class="h6 text-uppercase">Featured</span>
                  </span>
                </div>

                <a class="col-12 col-md-6 order-md-2 bg-cover card-img-end" style="background-image: url({{ event.thumbnail_path | default(picture_placeholder, True) }});" href="./{{ event.short_url }}">
                  <!-- Image (placeholder) -->
                  <img src="{{ event.thumbnail_path | default(picture_placeholder, True) }}" alt="..." class="img-fluid d-md-none invisible">
                  <!-- Shape -->
                  <div class="shape shape-start shape-fluid-y svg-shim text-white d-none d-md-block">
                    <svg viewBox="0 0 112 690" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h62.759v172C38.62 384 112 517 112 517v173H0V0z" fill="currentColor"/></svg>                  </div>
                </a>

                <div class="col-12 col-md-6 order-md-1">
                  <!-- Body -->
                  <a class="card-body" href="./{{ event.short_url }}">
                    <!-- Heading -->
                    <h3>
                      {{ event.name }} {{ event.year }}
                    </h3>
                    <!-- Text -->
                    <p class="mb-0 text-muted">
                      {{ event.description }}
                    </p>
                  </a>

                  <!-- Meta -->
                  <a class="card-meta" href="./{{ event.short_url }}">
                    <!-- Divider -->
                    <hr class="card-meta-divider">
                    <!-- Avatar -->
                    <div class="avatar avatar-sm me-2">
                      <!-- <img src="assets/img/avatars/avatar-1.jpg" alt="..." class="avatar-img rounded-circle"> -->
                    </div>
                    <!-- Author -->
                    <h6 class="text-uppercase text-muted me-2 mb-0">
                      {{ event.location }}
                    </h6>
                    <!-- Date -->
                    <p class="h6 text-uppercase text-muted mb-0 ms-auto">
                      <time datetime="{{ event.date }}">{{ event.date.strftime('%B %d %Y') }}</time>
                    </p>

                  </a>

                </div>

              </div> <!-- / .row -->
            </div>
          </div>
        {% endfor %}
        </div> <!-- / .row -->

        <div class="row">
          <div class="col-12">

            <!-- Heading -->
            <h2 class="mb-0">
              Event horizon
            </h2>

            <!--  -->
            <p class="mb-5 text-muted">

            </p>

          </div>
        </div> <!-- / .row -->

        <div class="row">

          {% for event in future_events %}
          <div class="col-12">
            <!-- Card -->
            <div class="card card-row shadow-light-lg mb-6 lift lift-lg">
              <div class="row gx-0">

                {% if not event.talks %}
                <div class="col-12">
                  <!-- Badge -->
                  <span class="badge rounded-pill bg-gray-600 badge-float badge-float-outside">
                    <span class="h6 text-uppercase">Call For Papers</span>
                  </span>
                </div>
                {% endif %}

                <a class="col-12 col-md-5 bg-cover card-img-start" style="background-image: url({{ event.thumbnail_path | default(picture_placeholder, True) }});" href="./{{ event.short_url }}">
                  <!-- Image (placeholder) -->
                  <img src="{{ event.thumbnail_path | default(picture_placeholder, True) }}" alt="..." class="img-fluid d-md-none invisible">
                  <!-- Shape -->
                  <div class="shape shape-end shape-fluid-y svg-shim text-white d-none d-md-block">
                    <svg viewBox="0 0 112 690" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M116 0H51v172C76 384 0 517 0 517v173h116V0z" fill="currentColor"/></svg>                  </div>
                </a>
                <div class="col-12 col-md-7">
                  <!-- Body -->
                  <a class="card-body py-7" href="./{{ event.short_url }}">
                    <!-- Heading -->
                    <h3>
                      {{ event.name }} {{ event.year }}
                    </h3>
                    <!-- Text -->
                    <p class="mb-0 text-muted">
                      {{ event.description }}
                    </p>
                  </a>
                  <!-- Meta -->
                  <a class="card-meta" href="./{{ event.short_url }}">
                    <!-- Divider -->
                    <hr class="card-meta-divider">
                    <!-- Author -->
                    <h6 class="text-uppercase text-muted me-2 mb-0">
                      {{ event.location }}
                    </h6>
                    <!-- Date -->
                    <p class="h6 text-uppercase text-muted mb-0 ms-auto">
                      <time datetime="{{ event.date }}">{{ event.date.strftime('%B %d %Y') }}</time>
                    </p>
                  </a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- PAST EVENTS -->
    <section class="py-8 py-md-11 bg-gradient-light-white border-bottom">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8 text-center">

            <!-- Heading -->
            <h1>
              Our past events
            </h1>

            <!-- Text -->
            <p class="fs-lg text-muted mb-7 mb-md-9">
              All videos available on demand
            </p>

          </div>
        </div> <!-- / .row -->
        <div class="row">


        {% for event in past_events %}
          <!-- EVENT -->
          <div class="col-12 col-md-6 col-lg-4 d-flex">

            <!-- Card -->
            <div class="card mb-6 mb-lg-0 shadow-light-lg lift lift-lg">
              <!-- Image -->
              <a class="card-img-top" href="./{{ event.short_url }}">
                <img src="{{ event.thumbnail_path | default(picture_placeholder, True) }}" alt="..." class="img-fluid">
              </a>
              <!-- Shape -->
              <div class="position-relative">
                <div class="shape shape-fluid-x shape-bottom svg-shim text-white">
                  <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>                </div>
              </div>
              <!-- Body -->
              <a class="card-body px-3 text-center" href="./{{ event.short_url }}">
                <!-- Heading -->
                <h3 style="font-size: 1em">
                  {{ event.name }} {{ event.year }}
                </h3>
                <!-- Text -->
                <p class="mb-0 text-muted">
                  <!-- {{ event.description }} -->
                </p>
              </a>
              <!-- Meta -->
              <a class="card-meta" href="./{{ event.short_url }}">
                <!-- Divider -->
                <hr class="card-meta-divider">
                <!-- Author -->
                <h6 class="text-uppercase text-muted me-2 mb-0">
                  {{ event.location }}
                </h6>
                <!-- Date -->
                <p class="h6 text-uppercase text-muted mb-0 ms-auto">
                  <time datetime="{{ event.date }}">{{ event.date.strftime('%B %d %Y') }}</time>
                </p>
              </a>
            </div>
          </div>
        {% endfor %}

        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- SPONSORS -->
    <section class="py-8 py-md-11" id="sponsors">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-7 text-center">

            <!-- Heading -->
            <h2>
              Thank you to our sponsors.
            </h2>

            <!-- Text -->
            <p class="fs-lg text-muted mb-7 mb-md-9">
              You're making this possible.
            </p>

          </div>
        </div> <!-- / .row -->

        <div class="row">
          {% for sponsor in sponsors %}
          <div class="col-4 col-md-2 lift">
            <div class="img-fluid img-fluid text-center">
              <a href="{{ sponsor.url }}" target="_blank" class="img-fluid img-fluid">
                <img src="{{ sponsors_path }}/{{ sponsor.id }}.png" alt="{{ sponsor.name }}" />
              </a>
            </div>
          </div>
          {% endfor %}
        </div> <!-- / .row -->

        <div class="row justify-content-center">
          <div class="col-12 text-center">

            <!-- Text -->
            <p class="text-muted mb-7 mb-md-9">
              IBM and the IBM logo are trademarks of International Business Machines Corp., registered in many jurisdictions worldwide.
            </p>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

{% endblock %}
