{% extends "base.html" %}

{% block content %}

    <!-- WELCOME -->
    <section class="py-5 py-md-10" style="background-color: #010023;">

      <!-- Shape -->
      <div class="shape shape-blur-3 svg-shim text-white">
        <svg viewBox="0 0 1738 487" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h1420.92s713.43 457.505 0 485.868C707.502 514.231 0 0 0 0z" fill="url(#paint0_linear)"/><defs><linearGradient id="paint0_linear" x1="0" y1="0" x2="1049.98" y2="912.68" gradientUnits="userSpaceOnUse"><stop stop-color="currentColor" stop-opacity=".075"/><stop offset="1" stop-color="currentColor" stop-opacity="0"/></linearGradient></defs></svg>
      </div>

      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 text-center" data-aos="fade-up">

            <!-- Heading -->
            <h1 class="display-2 fw-bold text-white">
              {{ podcast.title }}
            </h1>

            <!-- Buttons -->
            <div class="text-center mt-5">
                <a href="https://open.spotify.com/show/6rLCuMDqfQmB0aZ7lDpGNQ?si=syNvC4cjR_qRhjibKI9B2g&nd=1" class="btn btn-success shadow lift me-1 mb-3">
                  <i class="fe fe-headphones me-2"></i>
                  Listen on Spotify
                </a>
                <a href="https://www.youtube.com/playlist?list=PLIuxSyKxlQrBn4kx6OAYNUAiPvFlDptzv" class="btn btn-danger shadow lift me-1 mb-3">
                  <i class="fe fe-youtube me-2"></i>
                  Watch on YouTube
                </a>
            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- SHAPE -->
    <div class="position-relative">
      <div class="shape shape-bottom shape-fluid-x svg-shim text-light">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
      </div>
    </div>

    <!-- SECTION -->
    <section class="pt-2">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-2 mb-5 pt-1 text-center">

            <a
              href="https://twitter.com/share?ref_src=twsrc%5Etfw"
              class="twitter-share-button"

              data-text="Check out {{ podcast.title }}"
              data-url="https://www.conf42.com/{{ podcast.short_url }}"
              data-via="conf42com"
              data-related=""
              data-show-count="false"
            >
              Tweet
            </a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

            <br />

            <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
            <script type="IN/Share" data-url="www.conf42.com/{{ podcast.short_url }}"></script>

          </div>
          <div class="col-12 col-lg-8 mb-5">

          <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
          <div id="player"></div>

          <script>
            // 2. This code loads the IFrame Player API code asynchronously.
            var tag = document.createElement('script');

            tag.src = "https://www.youtube.com/iframe_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

            // 3. This function creates an <iframe> (and YouTube player)
            //    after the API code downloads.
            var player;
            function onYouTubeIframeAPIReady() {
              player = new YT.Player('player', {
              //   height: '390',
              //   width: '640',
                videoId: '{{ podcast.YouTubeId }}',
                playerVars: {
                  'playsinline': 1
                },
                events: {
                  'onReady': onPlayerReady,
                  // 'onStateChange': onPlayerStateChange
                }
              });
            }

            // 4. The API will call this function when the video player is ready.
            function onPlayerReady(event) {
              event.target.playVideo();
            }
            function seek(sec){
              if(player){
                player.playVideo();
                player.seekTo(sec, true);
              }
            }
            time_update_interval = setInterval(function () {
              console.log(player.getCurrentTime());
            }, 1000)
          </script>

            {% for paragraph in podcast.transcript %}

            <p id="{{ paragraph.timestamp_s }}"><a href="#{{ paragraph.timestamp_s }}" onclick="seek({{paragraph.timestamp_s}});">{{paragraph.timestamp}}</a> {{ paragraph.speaker }}</p>
            <p>{{ paragraph.body }}</p>

            {% endfor %}

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

{% endblock %}
