{% extends "base.html" %}

{% block content %}
    <section class="pt-8 pb-3 border-bottom">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-10 text-center">

            <h2 class="display-3">
                Howdie, fellow SE Radio listener!
            </h2>

            <!-- Text -->
            <p class="lead text-muted mb-5">
                Join below to get access to our <span class="text-primary">free, quality tech conferences online</span>.
            </p>
            <p class="lead text-muted mb-5">
                10 events in 2021. 13+ planned for 2022.
            </p>

            <!-- Buttons -->
            <div class="text-center my-7">
              <a href="#register" class="btn btn-primary shadow lift me-1 mb-3">
                <i class="fe fe-user-check me-2"></i>
                Subscribe - it's free!
              </a>
            </div>
          </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>
{% endblock %}
