{% extends "base.html" %}

{% block content %}
    <!-- WELCOME -->
    <section class="py-8 py-md-11 border-bottom">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-10 text-center">

            <!-- Headin -->
            <h1 class="display-2">
              Small team. Big events.
            </h1>

            <!-- Text -->
            <p class="lead text-muted mb-7">
              We are passionate about technology and use the cutting edge to deliver better events across the globe.
              We're lean, agile and will go the extra mile to help you grow your business.
              Here are two ways we can help.
            </p>
          </div>
          <div class="col-12 col-md-10 col-lg-10 text-center">

            <h2 class="display-3">
              Sponsor one of our events...
            </h2>

            <!-- Text -->
            <p class="lead text-muted mb-5">
              Join us to one of our events and reach thousands of
              software engineers, SREs, engineering managers, testers and more (statistics available on request).
              Build leads, promote your brand, distribute goodies and come on to our <a href="./podcast">podcast</a>.
            </p>

            <!-- Buttons -->
            <div class="text-center my-7">
              <a href="mailto:mark@conf42.com?subject=Sponsorship" class="btn btn-primary shadow lift me-1 mb-3">
                Request our 2021 sponsorship prospectus
              </a>
              <a href="https://calendly.com/mark-conf42/30-sponsor-partner" class="btn btn-success shadow lift me-1 mb-3">
                Schedule a meeting
              </a>
            </div>
          </div>

          <div class="col-12 col-md-10 col-lg-10 text-center">

            <h2 class="display-3">
              ... or let us organise an event for you
            </h2>

            <!-- Text -->
            <p class="lead text-muted mb-1">
              Are you building a community about your product or technology?
            </p>
            <p class="lead text-muted mb-3">
              Let's take it to the next level and organize a conference around it!
            </p>

            <p class="lead text-muted mb-5">
              Our experienced <span class="text-primary">team of video editors, sound designers, and event organizers</span> counts
              thousands of happy attendees, both online in real life.

              We can take your your event from an idea to fully managed event, and we'll work with your team on promoting it the best way.
            </p>

            <!-- Buttons -->
            <div class="text-center my-7">
              <a href="mailto:mark@conf42.com?subject=Organize an event" class="btn btn-primary shadow lift me-1 mb-3">
                Tell us about your event idea
              </a>
              <a href="https://calendly.com/mark-conf42/30-sponsor-partner" class="btn btn-success shadow lift me-1 mb-3">
                Schedule a meeting
              </a>
            </div>
          </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

{% endblock %}
