{% extends "base.html" %}

{% block content %}
    <!-- WELCOME -->
    <section class="py-8 py-md-11 border-bottom">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-10 text-center">

            <h2 class="display-3">
              Become a Sponsor
            </h2>

            <!-- Text -->
            <p class="lead text-muted mb-5">
              Join us to sponsor one of the Conf42 events to reach and expose your brand to thousands of engineers, SREs, engineering managers, testers, developers and more.
            </p>

            <div class="img-fluid">

                <!-- Image -->
                <img src="./assets/sponsors/june.png" class="img-fluid mb-6 mb-md-0" alt="..." data-aos="zoom-in" data-aos-delay="100">
    
            </div>

            <!-- Buttons -->
            <div class="text-center my-3">
              <a href="https://calendly.com/june-21/conf42-sponsor-21-22" class="btn btn-primary shadow lift me-1 mb-3">
                <i class="fe fe-calendar me-2"></i>
                Book a meeting with June
              </a>
            </div>

          </div>


          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- SPONSORS -->
    <section class="py-8 py-md-11" id="sponsors">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-7 text-center">

            <!-- Heading -->
            <h2>
              We've been trusted by
            </h2>

          </div>
        </div> <!-- / .row -->

        <div class="row">

          {% for sponsor in sponsors %}
          <div class="col-4 col-md-2 lift">
            <div class="img-fluid img-fluid text-center">
              <a href="{{ sponsor.url }}" target="_blank" class="img-fluid img-fluid">
                <img src="{{ sponsors_path }}/{{ sponsor.id }}.png" alt="{{ sponsor.name }}" />
              </a>
            </div>
          </div>
          {% endfor %}
        </div> <!-- / .row -->

        <div class="row justify-content-center">
          <div class="col-12 text-center">

            <!-- Text -->
            <p class="text-muted mb-7 mb-md-9">
              IBM and the IBM logo are trademarks of International Business Machines Corp., registered in many jurisdictions worldwide.
            </p>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

{% endblock %}
