{% extends "base.html" %}

{% block content %}
    <!-- WELCOME -->
    <section class="py-8 py-md-11 border-bottom">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-10 text-center">

            <!-- Headin -->
            <h1 class="display-2">
              Small team. Big events.
            </h1>

            <!-- Text -->
            <p class="lead text-muted mb-7">
              We are passionate about technology and use the cutting edge to deliver better events across the globe.
              We're lean, agile and will go the extra mile to help you grow your business.
            </p>
          </div>
          <div class="col-12 col-md-10 col-lg-10 text-center">

            <h2 class="display-3">
              Sponsor one of our events
            </h2>

            <!-- Text -->
            <p class="lead text-muted mb-5">
              Join us to one of our events and reach thousands of
              software engineers, SREs, engineering managers, testers and more (statistics available on request).
              Build leads, promote your brand, distribute goodies and come to our <a href="./podcast">podcast</a>.
            </p>

            <!-- Buttons -->
            <div class="text-center my-3">
              <a href="https://calendly.com/mark-conf42/30-sponsor-partner" class="btn btn-success shadow lift me-1 mb-3">
                <i class="fe fe-calendar me-2"></i>
                Schedule a meeting
              </a>
              <a href="mailto:mark@conf42.com?subject=Organize an event" class="btn btn-primary shadow lift me-1 mb-3">
                <i class="fe fe-send me-2"></i>
                Get in touch
              </a>
            </div>

          </div>


          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- SPONSORS -->
    <section class="py-8 py-md-11" id="sponsors">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-7 text-center">

            <!-- Heading -->
            <h2>
              We've been trusted by
            </h2>

          </div>
        </div> <!-- / .row -->

        <div class="row">

          {% for sponsor in sponsors %}
          <div class="col-4 col-md-2 lift">
            <div class="img-fluid img-fluid text-center">
              <a href="{{ sponsor.url }}" target="_blank" class="img-fluid img-fluid">
                <img src="{{ sponsors_path }}/{{ sponsor.id }}.png" alt="{{ sponsor.name }}" />
              </a>
            </div>
          </div>
          {% endfor %}
        </div> <!-- / .row -->

        <div class="row justify-content-center">
          <div class="col-12 text-center">

            <!-- Text -->
            <p class="text-muted mb-7 mb-md-9">
              IBM and the IBM logo are trademarks of International Business Machines Corp., registered in many jurisdictions worldwide.
            </p>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

{% endblock %}
