{% extends "base.html" %}

{% block content %}
    <!-- WELCOME -->
    <section class="py-5 border-bottom bg-dark">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-10 text-center">

            <h1 class="display-2 text-white">
              Give back to the Community
            </h1>
            <p class="lead text-muted mb-7">
              If you got value out of our free content, consider supporting us with a monthly subscription.
            </p>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- SUPPORT -->
    <section class="py-5" id="sponsors">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-7 text-center">

            <p class="lead text-muted mb-7">
              Cancel any time. Manage your subscription <a href="https://billing.stripe.com/p/login/3cs15X2lD2o55d6eUU">here</a>.
            </p>

          </div>
        </div> <!-- / .row -->

        <div class="row">
          <div class="col-12 lift">
            <div class="text-center">
              <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
              <stripe-pricing-table pricing-table-id="prctbl_1OXM4dDJpzfjeyjy1jXx5i5P"
              publishable-key="pk_live_SMm6oQg3G1UELyby6gheQU6P00KMrLtcGu">
              </stripe-pricing-table>
            </div>
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

{% endblock %}
