{% extends "base.html" %}

{% block content %}

    <!-- WELCOME -->
    <section class="py-5 py-md-10" style="background-color: {{ event.color }};">

      <!-- Shape -->
      <div class="shape shape-blur-3 svg-shim text-white">
        <svg viewBox="0 0 1738 487" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h1420.92s713.43 457.505 0 485.868C707.502 514.231 0 0 0 0z" fill="url(#paint0_linear)"/><defs><linearGradient id="paint0_linear" x1="0" y1="0" x2="1049.98" y2="912.68" gradientUnits="userSpaceOnUse"><stop stop-color="currentColor" stop-opacity=".075"/><stop offset="1" stop-color="currentColor" stop-opacity="0"/></linearGradient></defs></svg>
      </div>

      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 text-center" data-aos="fade-up">

            <!-- Heading -->
            <h1 class="display-2 fw-bold text-white">
              Conf42: {{ event.name }} {{ event.year }}
            </h1>

            <!-- Text -->
            <p class="lead mb-0 text-white-75">
              {{ event.description }}
              {% if not event.premiere_url %}
              <br />
              <time datetime="{{ event.date }}">{{ event.date.strftime('%B %d %Y') }}</time>
              {% endif %}
            </p>

            <!-- Buttons -->
            <div class="text-center mt-5">
              <a href="#register" class="btn btn-primary shadow lift me-1 mb-3">
                <i class="fe fe-user-check me-2"></i>
                Subscribe
              </a>
              {% if event.cfp_url and (not event.talks) %}
              <a class="btn btn-success lift mb-3" href="{{ event.cfp_url }}" target="_blank">
                <i class="fe fe-send me-2"></i>
                CFP is public! Become a speaker
              </a>
              {% endif %}
              {% if event.premiere_url %}
              <a class="btn btn-info lift mb-3" data-bigpicture='{"ytSrc": "{{ event.premiere_url }}"}' href="#">
                <i class="fe fe-eye me-2"></i>
                Watch Premiere
              </a>
              {% endif %}
              {% if event.playlist_url %}
              <a class="btn btn-danger lift mb-3" href="{{ event.playlist_url }}" target="_blank">
                <i class="fe fe-youtube me-2"></i>
                Watch all talks
              </a>
              {% endif %}
            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- SHAPE -->
    <div class="position-relative">
      <div class="shape shape-bottom shape-fluid-x svg-shim text-light">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
      </div>
    </div>

    <!-- PHOTO -->
    <section class="pt-8 pb-6">
      <div class="container">

        <div class="row align-items-center">
          <div class="col-12 col-md-6 col-lg-7">

            <div class="mb-8 mb-md-0">

              <!-- Image -->
              <img src="./assets/headshots/{{ talk.Picture }}" alt="..." class="screenshot img-fluid mw-md-110 float-end me-md-6 mb-6 mb-md-0">

            </div>

          </div>
          <div class="col-12 col-md-6 col-lg-5">

            <!-- List -->
            <div class="d-flex">

              <!-- Body -->
              <div class="ms-5">

                <!-- Heading -->
                <h3>
                  {{ talk.Title }}
                </h3>

                <!-- Author 1 -->
                <h6 class="text-uppercase me-2">
                  {{ talk.Name1 }} <br />
                  <span class="text-muted">
                    {{ talk.JobTitle1 }} {% if talk.Company1 %}@ {{ talk.Company1 }}{% endif %}
                  </span>
                </h6>

                <p class="text-uppercase text-muted me-2 mb-3">
                  {% if talk.LinkedIn1 %}
                  <a href="{{ talk.LinkedIn1 }}" target="_blank" class="mr-3">
                    <img src="./assets/img/icons/social/linkedin.svg" class="list-social-icon" alt="{{ talk.Name1 }}'s LinkedIn account" />
                  </a>
                  {% endif %}
                  {% if talk.Twitter1 %}
                  <a href="https://twitter.com/{{ talk.Twitter1 }}" target="_blank">
                    <img src="./assets/img/icons/social/twitter.svg" class="list-social-icon" alt="{{ talk.Name1 }}'s twitter account" />
                  </a>
                  {% endif %}
                </p>
                {% if talk.Name2 %}
                <!-- Author 1 -->
                <h6 class="text-uppercase me-2">
                  {{ talk.Name2 }} <br />
                  <span class="text-muted">
                    {{ talk.JobTitle2 }} {% if talk.Company2 %}@ {{ talk.Company2 }}{% endif %}
                  </span>
                </h6>

                <p class="text-uppercase text-muted me-2 mb-5">
                  {% if talk.LinkedIn2 %}
                  <a href="{{ talk.LinkedIn2 }}" target="_blank" class="mr-3">
                    <img src="./assets/img/icons/social/linkedin.svg" class="list-social-icon" alt="{{ talk.Name2 }}'s LinkedIn account" />
                  </a>
                  {% endif %}
                  {% if talk.Twitter2 %}
                  <a href="https://twitter.com/{{ talk.Twitter2 }}" target="_blank">
                    <img src="./assets/img/icons/social/twitter.svg" class="list-social-icon" alt="{{ talk.Name2 }}'s twitter account" />
                  </a>
                  {% endif %}
                </p>
                {% endif %}
              </div>

            </div>
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- SECTION -->
    <section class="pt-2">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-2 mb-5 pt-1 text-center">

            <a
              href="https://twitter.com/share?ref_src=twsrc%5Etfw"
              class="twitter-share-button"

              data-text="Check out this talk by {% if talk.Twitter1 %}{{ talk.Twitter1 }}{% else %}{{ talk.Name1 }}{% endif %}{% if talk.Twitter2 %} and {{ talk.Twitter2 }}{% endif %}"
              data-url="https://www.conf42.com/{{ event.short_url }}"
              data-via="conf42com"
              data-related=""
              data-show-count="false"
            >
              Tweet
            </a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

            <br />

            <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
            <script type="IN/Share" data-url="www.conf42.com/{{ event.short_url }}"></script>

          </div>
          <div class="col-12 col-lg-8 mb-5">
            <!-- Text -->
            <p>
              {{ talk.Abstract | replace("\n","<br />") }}
            </p>

            {% if talk.Slides %}
            <div class="text-center mb-5">
              <a href="./assets/slides/{{ talk.Slides }}" class="btn btn-xs btn-info shadow lift" style="background-color: {{ event.color }};" target="_blank">
                <i class="fe fe-paperclip me-2"></i>
                Slides (PDF)
              </a>
            </div>
            {% endif %}
          </div>

          <div class="col-12 col-lg-8 mb-2 text-center">
            <div class="text-center mb-5">
              <a href="./{{ event.short_url }}" class="btn btn-danger shadow lift" style="background-color: {{ event.color }};">
                <i class="fe fe-youtube me-2"></i>
                See all {{ event.talks | length }} talks at this event!
              </a>
            </div>
          </div>

          <div class="col-12 col-lg-8 mb-2 text-center">

            <!-- Video -->
            {% if talk.YouTube %}
            <iframe
              src="https://www.youtube.com/embed/{{ talk.YouTubeId }}"
              width="444"
              height="250"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen>
            </iframe>
            {% endif %}
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

{% endblock %}
