{% extends "base.html" %}

{% block content %}

    <!-- TOPBAR -->
    <section class="py-5 py-md-10" style="background-color: #010023;">

        <!-- Shape -->
        <div class="shape shape-blur-3 svg-shim text-white">
          <svg viewBox="0 0 1738 487" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h1420.92s713.43 457.505 0 485.868C707.502 514.231 0 0 0 0z" fill="url(#paint0_linear)"/><defs><linearGradient id="paint0_linear" x1="0" y1="0" x2="1049.98" y2="912.68" gradientUnits="userSpaceOnUse"><stop stop-color="currentColor" stop-opacity=".075"/><stop offset="1" stop-color="currentColor" stop-opacity="0"/></linearGradient></defs></svg>
        </div>

        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 text-center" data-aos="fade-up">

              <!-- Heading -->
              <h1 class="display-2 fw-bold text-white">
                Testimonials
              </h1>
              <h3 class="text-white">What others have said about Conf42 events</h3>

            </div>
          </div> <!-- / .row -->
        </div> <!-- / .container -->
      </section>

      <!-- SHAPE -->
      <div class="position-relative">
        <div class="shape shape-bottom shape-fluid-x svg-shim text-light">
          <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
        </div>
      </div>

    <!-- FEATURED TALKS -->
    <section class="pt-3">
      <div class="container">

        <div class="row">
        {% for testimonial in testimonials %}
          <div class="col-12 col-md-6 d-flex">
          
            <!-- Card -->
            <div class="card mb-6 shadow-light-lg lift lift-lg">
              <!-- Image -->
              <a class="card-img-top" href="#">
                <!-- Image -->
                <img src="{{ testimonial.Picture }}" alt="..." class="card-img-top">
                <!-- Shape -->
                <div class="position-relative">
                  <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
                    <svg viewBox="0 0 2880 480" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2160 0C1440 240 720 240 720 240H0v240h2880V0h-720z" fill="currentColor"/></svg>                  </div>
                </div>
              </a>
              <!-- Body -->
              <a class="card-body" href="#">
                <!-- Text -->
                <p class="mb-0 text-muted">
                  {{ testimonial.Testimonial| markdown | striptags }}
                </p>
              </a>
              <!-- Meta -->
              <div class="card-meta mt-auto">
                <!-- Divider -->
                <hr class="card-meta-divider">
                <!-- Author -->
                <h6 class="text-uppercase text-muted me-2 mb-0">

                  {% if testimonial.LinkedIn %}
                  <a href="{{ testimonial.LinkedIn }}" target="_blank">
                    {{ testimonial.Name }}
                  </a>
                  {% elif testimonial.Twitter %}
                  <a href="https://twitter.com/{{ testimonial.Twitter }}" target="_blank">
                    {{ testimonial.Name }}
                  </a>
                  {% else %}
                    {{ testimonial.Name }}
                  {% endif %}

                </h6>
                <!-- Date -->
                <p class="h6 text-uppercase text-muted mb-0 ms-auto">
                  {{ testimonial.Company }}
                </p>
              </div>
            </div>

          </div>
          {% endfor %}
        </div>

      </div> <!-- / .container -->
    </section>

{% endblock %}
